USE [MoviesDB]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 10/24/2020 10:31:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](225) NULL,
	[IsSubscribedToNewsLetter] [bit] NOT NULL,
	[MembershipID] [int] NULL,
	[Birthdate] [date] NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberShipType]    Script Date: 10/24/2020 10:31:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberShipType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](225) NULL,
	[SignUPFree] [int] NULL,
	[DurationInMenths] [int] NULL,
	[DiscountRate] [int] NULL,
 CONSTRAINT [PK_MemberShipType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 10/24/2020 10:31:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Genre] [nvarchar](50) NULL,
	[ReleasDate] [date] NULL,
	[DateAdd] [date] NULL,
	[MemberAvalible] [int] NULL,
	[NumberInStock] [int] NULL,
	[MoviesPhoto] [varbinary](max) NULL,
	[AltPhoto] [nvarchar](225) NULL,
	[DocxContant] [nvarchar](225) NULL,
	[TrailerUrl] [nvarchar](500) NULL,
 CONSTRAINT [PK_Movies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rentals]    Script Date: 10/24/2020 10:31:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rentals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateRented] [date] NOT NULL,
	[DateReturn] [date] NULL,
	[Custmer_id] [int] NULL,
	[Movie_id] [int] NULL,
 CONSTRAINT [PK_Rentals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [Name], [IsSubscribedToNewsLetter], [MembershipID], [Birthdate]) VALUES (1, N'mOohamed', 1, 3, CAST(N'1997-01-02' AS Date))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[MemberShipType] ON 

INSERT [dbo].[MemberShipType] ([Id], [Name], [SignUPFree], [DurationInMenths], [DiscountRate]) VALUES (2, N'Member. ', 10, 10, 5)
INSERT [dbo].[MemberShipType] ([Id], [Name], [SignUPFree], [DurationInMenths], [DiscountRate]) VALUES (3, N'Associate Member', NULL, NULL, NULL)
INSERT [dbo].[MemberShipType] ([Id], [Name], [SignUPFree], [DurationInMenths], [DiscountRate]) VALUES (4, N'Fellow', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[MemberShipType] OFF
GO
SET IDENTITY_INSERT [dbo].[Movies] ON 

SET IDENTITY_INSERT [dbo].[Movies] OFF
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_MemberShipType] FOREIGN KEY([MembershipID])
REFERENCES [dbo].[MemberShipType] ([Id])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_MemberShipType]
GO
ALTER TABLE [dbo].[Rentals]  WITH CHECK ADD  CONSTRAINT [FK_Rentals_Customers] FOREIGN KEY([Custmer_id])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Rentals] CHECK CONSTRAINT [FK_Rentals_Customers]
GO
ALTER TABLE [dbo].[Rentals]  WITH CHECK ADD  CONSTRAINT [FK_Rentals_Movies] FOREIGN KEY([Movie_id])
REFERENCES [dbo].[Movies] ([Id])
GO
ALTER TABLE [dbo].[Rentals] CHECK CONSTRAINT [FK_Rentals_Movies]
GO
/****** Object:  StoredProcedure [dbo].[spCreateMovie]    Script Date: 10/24/2020 10:31:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spCreateMovie]
(@Name nvarchar(50)
           ,@Genra nvarchar(50)
           ,@RelateasDate date
           ,@DateAdd date
           ,@MemberAvalible int
           ,@NumberInStock int
           ,@MoviesPhoto varbinary(max)
           ,@AltPhoto nvarchar(225)
           ,@DoxContant nvarchar(225)
           ,@TrailerUrl nvarchar(500))
As
begin
INSERT INTO [dbo].[Movies]
           ([Name]
           ,[Genre]
           ,[ReleasDate]
           ,[DateAdd]
           ,[MemberAvalible]
           ,[NumberInStock]
           ,[MoviesPhoto]
           ,[AltPhoto]
           ,[DocxContant]
           ,[TrailerUrl])
     VALUES
	 (@Name
           ,@Genra
           ,@RelateasDate
           ,@DateAdd
           ,@MemberAvalible
           ,@NumberInStock
           ,@MoviesPhoto
           ,@AltPhoto
           ,@DoxContant
           ,@TrailerUrl
		   )

 end
GO
/****** Object:  StoredProcedure [dbo].[spEditeMovie]    Script Date: 10/24/2020 10:31:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spEditeMovie]
(@ID int,@Name nvarchar(50)
           ,@Genra nvarchar(50)
           ,@RelateasDate date
           ,@DateAdd date
           ,@MemberAvalible int
           ,@NumberInStock int
           ,@MoviesPhoto varbinary(max)
           ,@AltPhoto nvarchar(225)
           ,@DoxContant nvarchar(225)
           ,@TrailerUrl nvarchar(500))
As
begin
UPDATE [dbo].[Movies]
   SET [Name] = @Name
      ,[Genre] = @Genra
      ,[ReleasDate] = @RelateasDate
      ,[DateAdd] = @DateAdd
      ,[MemberAvalible] = @MemberAvalible
      ,[NumberInStock] = @NumberInStock
      ,[MoviesPhoto] = @MoviesPhoto
      ,[AltPhoto] = @AltPhoto
      ,[DocxContant] = @DoxContant
      ,[TrailerUrl] = @TrailerUrl
	  where @ID=Id


 end
GO
/****** Object:  StoredProcedure [dbo].[spSaveCustomer]    Script Date: 10/24/2020 10:31:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spSaveCustomer]
 (@ID int,
 @Name nvarchar(225)
           ,@IsSubscribedToNewsLetter bit
           ,@MembershipID int
           ,@Birthdate date
		   )
As
begin
UPDATE [dbo].[Customers]
   SET [Name] = @Name
      ,[IsSubscribedToNewsLetter] = @IsSubscribedToNewsLetter
      ,[MembershipID] = @MembershipID
      ,[Birthdate] = @Birthdate
 WHERE @ID=Id

end
GO
